*{
    
    height: auto;
    padding: 0%;

}

body{
background-color: #52525b;
color: rgb(255, 255, 255);
text-align: center;
margin: 60px;
}

p{
text-align: justify;
font-size: 20px;
}

ol{
text-align: justify;
font-size: 20px;
}

ul{
text-align: justify;
font-size: 20px;
margin: 0 0px 0 700px;
}

img{
height: 500px;
width: 400px;
border-radius: 4px;
margin-bottom: 10px;
}

div, a{
column-count: 4;
margin-bottom: 5px;
display: flow-root;
}

h1{
font-size: 50px;
}
h2{
    font-size: 35px;
}